
#about{

    position: relative;
}

.about__container{

    padding: 2rem 5rem 2rem 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    grid-column-gap: 2rem;
    grid-row-gap: 0px;
    justify-content: center;
    align-items: center;


    width: 80%;
    margin: auto;
    margin-top: 5rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left:1px solid rgba(255, 255, 255, 0.5);

}

.background-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;

}

.about_socials{
    display: flex;
    gap:1.2rem;
    justify-content: start;
    font-size: 1.9em;
}

h1, h5{
    color: black;
}
h1{
    font-size: 2.5rem;
}

p{
    line-height: 1;
    color: var(--color-text-light);
    opacity: 0.8;
}

.about-items.picture{

    position: relative;
    border-radius: 40rem 40rem 0 0;
}

.about-items.picture img{
    object-fit: cover;

    max-width: 100%;
    display: block;
    margin: 0 auto;


}

.picture-bg{

    position: absolute;

    border-radius: 50%;
    z-index: -1;

    transform: translate();

    transition: var(--transition);
    -webkit-filter: blur(100px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);


    animation-timing-function: ease;

}
.picture-bg.one{
    background: hsla(272, 62%, 68%, 0.302);
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;


    border-radius:26% 74% 53% 47% / 4% 50% 50% 96% ;

    animation:  bounce 2s infinite linear;


}
.picture-bg.two{
    background: hsl(316, 73%, 52%);
    opacity: 0.5;
    top:0;


    animation:  bounce 5s infinite linear;
    animation: moveAround 2s linear infinite;


}
.picture-bg.three{
    background:hsl(38, 99%, 67%);
    opacity: 0.5;
    top: 0;
    animation:  bounce 5s infinite linear;
    animation: moveAround 3s linear infinite;


}

.summary{
    text-align: left;
}


.about-items.information{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@keyframes moveAround {
    0% { transform: translateX(0) translateY(0); }
    25% { transform: translateX(200px) translateY(0); }
    50% { transform: translateX(200px) translateY(200px); }
    75% { transform: translateX(0) translateY(200px); }
    100% { transform: translateX(0) translateY(0); }
  }
@keyframes bounce{
    0% {transform: translateY(0);
        border-radius: 51% 49% 38% 62% / 57% 42% 58% 43%  ;
        /* background-color: rgba(0, 255, 255, 0.308); */

    }
    25% {
        border-radius: 26% 74% 23% 77% / 59% 51% 49% 41%   ;
        transform: translateY(-30px);
            transform: rotateZ(10deg);
            background-color: rgba(172, 119, 193, 0.339);

    }
    50% {
        border-radius: 70% 30% 60% 40% / 47% 55% 45% 53%  ;
        transform: translateY(-30px);
            transform: rotateZ(10deg);

        }
    75%{

        border-radius: 74% 26% 72% 28% / 59% 51% 49% 41% ;
        transform: translateY(-30px);
            transform: rotateZ(20deg);
            background-color: rgba(26, 75, 160, 0.233);

    }
    100% {
        border-radius:39% 61% 41% 59% / 57% 51% 49% 43% ;

        transform: translateY(0);


    }
}


@media screen and (max-width:600px){
    .about__container{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        text-align: center;
        box-shadow: var( --color-primary-variant) 0px 25px 20px -20px;

    }
    .background-img{
        /* height: 80%; */
        display: none;
    }
    .summary{
        padding: 0 2rem;
        font-size: smaller;
        text-align:left;

    }
    .about-items.information{
        display: flex;
        margin-top: 1.5rem;
        flex-direction: column;

    }
    .about_socials{
        justify-content: center;

    }

}
