

*{
    /* border: blue solid 1px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}
/* hide the scrollabar */
::-webkit-scrollbar{
    display: none;
}

:root{
    --color-bg:rgb(250, 240, 228);
    --color-primary:rgb(107, 159, 164);
    --color-primary-variant:rgb(239, 210, 210);
    --color-bg-variant:rgb(255, 133, 81);
    --transition: all 400ms ease;
    --color-text-light:rgba(0, 0, 0, 0.683);

}

body{

    background-color: var(--color-bg);
    color: var(--color-bg-variant);
    font-family: "Poppins",sans-serif ;
    line-height: 1.7 ;

}


section{
    padding: 0;

}

/* all the tag "a" */
a{
    color: var(--color-primary);
    transition: var(--transition);
  }

  a:hover{
    color: var(--color-primary-variant);
  }


