

*{
    /* border: blue solid 1px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}
/* hide the scrollabar */
::-webkit-scrollbar{
    display: none;
}

:root{
    --color-bg:rgba(247, 244, 242, 0.429);
    --color-primary:rgb(101, 40, 247);
    --color-primary-variant:rgba(215, 187, 245, 0.425);
    --color-bg-variant:rgb(160, 118, 249);
    --color-white:white;
    --transition: all 400ms ease;
    --color-text-light:rgba(0, 0, 0, 0.683);

}

body{

    background-color: var(--color-bg);
    color: var(--color-bg-variant);
    font-family: "Poppins",sans-serif ;
    line-height: 1.7 ;

}


section{
    padding: 0;
    margin-bottom: 5rem;

}

/* all the tag "a" */
a{
    color: var(--color-primary);
    transition: var(--transition);
  }

  a:hover{
    color: var(--color-primary-variant);
  }



